<!DOCTYPE html>
<html>
    <body>
        <h1>Nail Polishes</h1>
        <hr>
        <br>
        <% @nailpolishes.each do |n| %> 
            <p><a href="/nailpolishes/<%= n.id %>"><%= n.name %></a></p>
        <% end %>
        <a href="/nailpolishes/new">Add a Nail Polish</a>
        <br>
        <a href="/logout">Sign Out</a>
    
    </body>
</html>