<!DOCTYPE html>
<html>
    <body>
        <h1>Nail Polishes</h1>
        <h4><i>Click on a nail polish to see more information, to make changes or delete.</i></h4>
        <hr>
        <br>
        <% @nailpolishes.each do |n| %> 
            <p>-  <a href="/nailpolishes/<%= n.id %>"><%= n.name %></a></p>
        <% end %>
        <button><a href="/nailpolishes/new">Add a Nail Polish</a></button>
        <br>
        <br>
        <button><a href="/logout">Sign Out</a></button>
    
    </body>
</html>