<!DOCTYPE html>
<html>
    <h2> Create a New Nail Polish</h2>
    <hr>
    <br>
    <form action="/nailpolishes" method="POST">
        <br>
        <label>Name: <input type ="text" id="name" name="name"></label><br>
        <br>
        <label>Brand: <input type="text" id="brand" name="brand"></label><br>
        <br>
        <label>Color: <input type="text" id="color" name="color"></label><br>
        <br>
        <input type="submit">
    </form>
</html>