<h1> Welcome! </h1>
<hr>
<br>
<h3>Menu</h3>
<br>
    <a href="/nailpolishes/new">Add a Nail Polish</a>
    <br>
    <a href="/nailpolishes">Look at Your Collection</a>
    <br>
    <a href="/">Sign Out</a>
