<!DOCTYPE html>
<html>

<h2> Edit a Nail Polish </h2>
<hr>
<br>
    <body>
        <form action="/nailpolishes/<%= @nailpolish.id %>" method="POST">
            <input type="hidden" id="hidden" name="_method" value="PATCH">
            <label>Title: <input type="text" name="name" value="<%= @nailpolish.name %>"></label><br>
            <label>Brand: <input type="text" id="brand" name="brand" value="<%= @nailpolish.brand %>"</input</label><br>
            <input type="submit">
        </form>
    </body>
</html>