<!DOCTYPE html>
<html>
    <body>
        <h4><%= @nailpolish.name %></h4>
        <hr>
        <br>
        <p><%= @nailpolish.brand %></p>
        <p><%= @nailpolish.color %></p>
        <br>
        <a href="/nailpolishes">Go Back</a>
        
    </body>
</html>


